*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    pointer-events: painted;
}
header, footer, .Carousel, .FormaPagamento, #passagens{
    min-width: 300px;
}
img{
    height: 30rem;
    width: 100%;
}
p{
    padding: 0;
    margin: 0;
}
